---
import Button from "../components/button.astro";

import "../global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main class="p-6">
      <h1 class="text-2xl text-blue-500">Astro</h1>

      <Button>Regular button</Button>
      <Button type="outline" color="slate">Outlined button</Button>
    </main>
  </body>
</html>
